scripts/doc/source/matlab*
build/*
*doctree
*.gif
*.pickle
run*rst
cosmo*rst
make*rst
*.zip
.buildinfo
*.js
*.txt
*.inv
matlab_full_toc.rst
matlab_hdr_toc.rst
matlab_skl_toc.rst
*.swo
*.swm
*.swn
*.swo
