scripts/doc/source/matlab*
build/*
*doctree
*.gif
*.pickle
run*rst
make*rst
*.zip
.buildinfo
*.js
*.txt
*.inv
matlab_full_toc.rst
matlab_hdr_toc.rst
matlab_skl_toc.rst
*.swo
*.swm
*.swn
*.swo
NIFTI
*.m
*.m~
run*.html
run*.png
index.html
modindex*.rst
matindex*.rst
contents_*
matlab
publish
source/_static/external_contrib
